<div class="container">
  <div class="container__header">
    <pichincha-typography
      variant="prelo-slab"
      color="bp-grayScale500"
      weight="800"
      size="3rem"
      lineHeight="40px"
      spacing=0.5
      category="h2"
      align="left">
      Iniciar sesión
    </pichincha-typography>

    <pichincha-divider variant="solid_dark"></pichincha-divider>
  </div>
  <div class="container__body">
    <form (ngSubmit)="login()">
      
      <pichincha-input
        is-optional="false"
        state="none"
        error-helper=""
        type="text"
        placeholder="Ej. name@example.com"
        label="Correo electrónico"
      ></pichincha-input>

      <pichincha-input
        is-optional="false"
        state="none"
        error-helper=""
        type="password"
        placeholder="*****"
        label="Contraseña"
      ></pichincha-input>

    </form>
  </div>
  
  <div class="container__footer">
    <pichincha-link-button
      link-button-id="link-register"
      link-button-tab-index="3"
      link-button-aria-label="link-register"
      label="Registrate aquí"
      variant="action"
      trailing-icon="none"
      disabled="false"
      loading="false"
      href="/register"
    ></pichincha-link-button>

    <pichincha-button
      button-id="login-button"
      button-tab-index="4"
      button-aria-label="login-button"
      type="button"
      custom-width="180px"
      custom-height="50px"
      variant="primary"
      size="xlarge"
      label="Iniciar Sesión"
    ></pichincha-button>
  </div>
</div>