<div class="login-container">

  <bp-alert *ngIf="alertService.showAlert$ | async"></bp-alert>
  
  <header class="login-container__header">
    <pichincha-typography
      variant="prelo-slab"
      color="bp-grayScale500"
      weight="800"
      size="3rem"
      lineHeight="40px"
      spacing=0.5
      category="h2"
      align="left"
    >
      Iniciar sesión
    </pichincha-typography>

    <pichincha-divider variant="solid_dark"></pichincha-divider>
  </header>
  <section class="login-container__body">
    <form [formGroup]="loginFormService.signInForm" data-testid="form" (ngSubmit)="loginFormService.submitForm()">
      <pichincha-input
        formControlName="username"
        is-optional="false"
        state="{{loginFormService.username.error}}"
        errorHelper="{{loginFormService.username.usernameMessageError}}"
        type="text"
        placeholder="Ej. name@example.com"
        label="Nombre de usuario"
      ></pichincha-input>
      <br>
      <pichincha-input
        formControlName="password"
        is-optional="false"
        state="{{loginFormService.password.error}}"
        errorHelper="{{loginFormService.password.passwordMessageError}}"
        type="password"
        placeholder="*****"
        label="Contraseña"
      ></pichincha-input>
    </form>
  </section>
  
  <footer class="login-container__footer">
    <pichincha-link-button
      link-button-id="link-register"
      link-button-tab-index="3"
      link-button-aria-label="link-register"
      label="Registrate aquí"
      variant="action"
      trailing-icon="none"
      disabled="false"
      loading="false"
      routerLink="/register"
    ></pichincha-link-button>

    <pichincha-button
      button-id="login-button"
      button-tab-index="4"
      button-aria-label="login-button"
      custom-width="180px"
      custom-height="50px"
      variant="primary"
      size="xlarge"
      label="Iniciar Sesión"
      type="submit"
      (click)="signin()"
    ></pichincha-button>
  </footer>
</div>