<div class="register-container">
  <div class="register-container__header">

    <bp-alert *ngIf="alertService.showAlert$ | async"></bp-alert>

    <pichincha-typography
      variant="prelo-slab"
      color="bp-grayScale500"
      weight="800"
      size="3rem"
      lineHeight="40px"
      spacing=0.5
      category="h2"
      align="left"
      tabIndexElement=0>
      Registrarse
    </pichincha-typography>

    <pichincha-divider variant="solid_dark"></pichincha-divider>
  </div>
  
  <div class="register-container__body">
    <form [formGroup]="signupService.signUpForm" data-testid="form" (ngSubmit)="registerUser()">
      <!-- Inicia información de usuario - inputs -->
      <pichincha-input
        formControlName="username"
        is-optional="false"
        state="{{signupService.username.error}}"
        errorHelper="{{signupService.username.usernameMessageError}}"
        type="text"
        placeholder="Ej. makoto"
        label="Nombre de usuario"
      ></pichincha-input>
      <br>
      <pichincha-input
        formControlName="email"
        is-optional="false"
        state="{{signupService.email.error}}"
        errorHelper="{{signupService.email.emailMessageError}}"
        type="text"
        placeholder="Ej. name@example.com"
        label="Correo electrónico"
      ></pichincha-input>
      <br>
      <pichincha-input
        formControlName="password"
        is-optional="false"
        state="{{signupService.password.error}}"
        errorHelper="{{signupService.password.passwordMessageError}}"
        type="password"
        placeholder="*****"
        label="Contraseña"
      ></pichincha-input>
      <br>
      <pichincha-input
        formControlName="confirmPassword"
        is-optional="false"
        state="{{signupService.confirmPassword.error}}"
        errorHelper="{{signupService.confirmPassword.confirmPasswordMessageError}}"
        type="password"
        placeholder="*****"
        label="Confirmar contraseña"
      ></pichincha-input>
      <!-- Finaliza información de usuario - inputs -->
      
      <!-- Inicia categorías - check box -->
      <pichincha-typography
        variant="prelo-slab"
        color="bp-grayScale500"
        weight="800"
        size="3rem"
        lineHeight="40px"
        spacing=0.5
        category="h2"
        align="left"
        tabIndexElement=0>
        Categorías
      </pichincha-typography>

      <pichincha-check-box
        id-element="anime-cb"
        type-check="check"
        size="small"
        text="Anime"
        error="false"
        checked="false"
      ></pichincha-check-box>

      <pichincha-check-box
        id-element="ciencia-ficcion-cb"
        type-check="check"
        size="small"
        text="Ciencia Ficción"
        error="false"
        checked="false"
      ></pichincha-check-box>

      <pichincha-check-box
        id-element="novela-cb"
        type-check="check"
        size="small"
        text="Novela"
        error="false"
        checked="false"
      ></pichincha-check-box>

      <pichincha-check-box
        id-element="drama-cb"
        type-check="check"
        size="small"
        text="Drama"
        error="false"
        checked="false"
      ></pichincha-check-box>

      <pichincha-check-box
        id-element="inteligencia-artificial-cb"
        type-check="check"
        size="small"
        text="Inteligencia Artificial"
        error="false"
        checked="false"
      ></pichincha-check-box>
      <!-- Finaliza categorías - check box -->


    </form>
  </div>
  
  <div class="register-container__footer">
    <pichincha-link-button
      link-button-id="link-login"
      link-button-tab-index="10"
      link-button-aria-label="link-login"
      label="Iniciar sesión"
      variant="action"
      trailing-icon="none"
      disabled="false"
      loading="false"
      routerLink="/signin"
    ></pichincha-link-button>

    <pichincha-button
      button-id="register-button"
      button-tab-index="11"
      button-aria-label="register-button"
      custom-width="200px"
      custom-height="50px"
      variant="primary"
      size="xlarge"
      label="Registrar"
      type="submit"
      (click)="registerUser()" 
    ></pichincha-button>
  </div>

</div>